.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px; /* Add padding to the edges */
}

.project-card {
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px); /* Adjust width */
  padding: 20px; /* Adjust padding */
  border-radius: 20px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Add cursor pointer */
  position: relative; /* Add position relative */
}

.project-card:hover {
  transform: scale(1.05);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info h2,
.info p {
  flex: 1; /* Equal height */
  width: 100%; /* Occupy full width */
}

.program-cards {
  display: none; /* Initially hide program cards */
  flex-wrap: wrap; /* Wrap program cards */
  justify-content: center; /* Center the program cards horizontally */
  position: absolute; /* Position absolute */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  bottom: 0; /* Align to the bottom */
  background-color: #fff; /* Background color */
  border-radius: 0 0 20px 20px; /* Adjust border radius */
  z-index: 1; /* Set z-index to appear above other content */
}

.project-card:hover .program-cards {
  display: flex; /* Display program cards on hover */
}

.program-card {
  align-items: center;
  font-size: 14px;
  padding: 5px;
  background-color: rgba(0, 233, 45, 0.5);
  margin: 1px;
  border-radius: 2px;
}

.button-open {
  margin-top: auto;
  align-self: center;
  padding: 8px 16px;
  background-color: lightblue;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-open:hover {
  background-color: skyblue;
}

/* Responsive Design */

@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 20px); /* Adjust width and padding */
    font-size: 12px; /* Reduce font size */
  }

  .project-card .program-cards {
    display: none; /* Hide program cards initially */
  }

  .program-card {
    width: auto;
  }

  .project-card:hover .program-cards {
    display: flex; /* Display program cards on hover */
  }
}

@media (max-width: 480px) {
  .project-card {
    width: calc(100% - 20px); /* Adjust width and padding */
    font-size: 10px; /* Reduce font size */
  }

  .project-card .program-cards {
    display: none; /* Hide program cards initially */
  }

  .program-card {
    width: auto;
  }

  .project-card:hover .program-cards {
    display: flex; /* Display program cards on hover */
  }
}

/* For devices 769px and above */
@media (min-width: 769px) {
  .project-card {
    width: calc(33.33% - 20px); /* Adjust width */
  }

  .project-card .program-cards {
    display: none; /* Hide program cards initially */
  }

  .program-card {
    width: auto;
  }

  .project-card:hover .program-cards {
    display: flex; /* Display program cards on hover */
  }
}
